version: "3"
services:
  web:
    build: .
    ports:
      - "5000:5000"
    depends_on:
      - db
    environment:
      - FLASK_DEBUG=1
    volumes: ["./:/app"]
  db:
    image: postgres:16-alpine
    volumes:
      - ./misc/dbdata:/var/lib/postgresql/data
    expose:
      - 5432
    environment:
      POSTGRES_PASSWORD: password
